{% load static %}

<div>
    <div class="product-box-3 h-100 wow fadeInUp">
        <div class="product-header">
            <div class="product-image">
                <a href="{{ product.get_absolute_url }}">
                    {% if product.main_image %}
                        <img src="{{ product.main_image.url }}"
                             class="img-fluid blur-up lazyload" alt="{{ product.title }}">
                    {% else %}
                        <img src="{% static 'images/appstore.svg' %}"
                             class="img-fluid blur-up lazyload" alt="Default image">
                    {% endif %}
                </a>

                <ul class="product-option">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view-{{ product.pk }}">
                            <i data-feather="eye"></i>
                        </a>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                        <a href="">
{#                            {% url 'compare' product.slug %}#}
                            <i data-feather="refresh-cw"></i>
                        </a>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به لیست علاقه‌مندی‌ها">
                        <a href="" class="notifi-wishlist">
{#                            {% url 'wishlist' product.slug %}#}
                            <i data-feather="heart"></i>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-footer">
            <div class="product-detail">
                <span class="span-name">
                    {% if product.brand %}
                        {{ product.brand.title }}
                    {% else %}
                        بدون برند
                    {% endif %}
                </span>
                <a href="{{ product.get_absolute_url }}">
                    <h5 class="name">{{ product.title }}</h5>
                </a>
                <p class="text-content mt-1 mb-2 product-content">{{ product.short_description }}</p>
                <div class="product-rating mt-2">
                    <ul class="rating">
                        {# Example: you could compute the rating or set it to a default value #}
                        {% for i in "12345" %}
                            <li>
                                <i data-feather="star" class="{% if forloop.counter <= product.rating|default:4 %}fill{% endif %}"></i>
                            </li>
                        {% endfor %}
                    </ul>
                    <span>({{ product.rating|default:"4.0" }})</span>
                </div>
                {# If you have a unit field, show it; otherwise, you may remove this line #}
                <h6 class="unit">{{ product.unit|default:"واحد" }}</h6>
                <h5 class="price">
                    <span class="theme-color">
                        {{ product.current_price|floatformat:2 }} تومان
                    </span>
                    {% if product.old_price and product.old_price > product.price %}
                        <del>{{ product.old_price|floatformat:2 }} تومان</del>
                    {% endif %}
                </h5>
                <div class="add-to-cart-box bg-white">
                    <button class="btn btn-add-cart addcart-button">افزودن
                        <span class="add-icon bg-light-gray">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </button>
                    <div class="cart_qty qty-box">
                        <div class="input-group bg-white">
                            <button type="button" class="qty-left-minus bg-gray"
                                    data-type="minus" data-field="">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                            <label>
                                <input class="form-control input-number qty-input" type="text"
                                       name="quantity" value="0">
                            </label>
                            <button type="button" class="qty-right-plus bg-gray"
                                    data-type="plus" data-field="">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
