{% load static %}

<div class="col-12">
  <div class="blog-box blog-list wow fadeInUp">
    <div class="blog-image">
      {% if post.banner_image %}
        <img src="{{ post.banner_image.url }}" class="blur-up lazyload" alt="{{ post.title }}" />
      {% else %}
        <img src="{% static 'images/inner-page/blog/default.jpg' %}" class="blur-up lazyload" alt="{{ post.title }}" />
      {% endif %}
    </div>
    <div class="blog-contain blog-contain-2">
      <div class="blog-label">
        <span class="time"><i data-feather="clock"></i> <span>{{ post.published_at|date:"j F Y" }}</span></span>
        <span class="super"><i data-feather="user"></i> <span>{{ post.author.get_full_name }}</span></span>
      </div>
      <a href="{% url 'single_post' post.slug %}"><h3>{{ post.title }}</h3></a>
      <p>{{ post.short_content }}</p>
      <button onclick="location.href='{% url 'single_post' post.slug %}'" class="blog-button">
        {{ 'مطالعه بیشتر' }}<i class="fa-solid fa-right-long"></i>
      </button>
    </div>
  </div>
</div>