{% load static %}

<li>
  <div class="offer-product">
    <a href="shop-left-sidebar.html" class="offer-image">
      <img
        src="{% static 'images/vegetable/product/23.png' %}"
        class="blur-up lazyload"
        alt=""
      />
    </a>

    <div class="offer-detail">
      <div>
        <a href="shop-left-sidebar.html">
          <h6 class="name">شیر خشک ایتالیایی قهوه ای رنگ</h6>
        </a>
        <span>450 گرم</span>
        <h6 class="price theme-color">70.000 تومان</h6>
      </div>
    </div>
  </div>
</li>
