{% load static %}

<!-- latest jquery-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<!-- jquery ui-->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>

<!-- feather icon js-->
<script src="{% static 'js/feather/feather.min.js' %}"></script>
<script src="{% static 'js/feather/feather-icon.js' %}"></script>

<!-- Lazyload Js -->
<script src="{% static 'js/lazysizes.min.js' %}"></script>

<!-- Slick js-->
<script src="{% static 'js/slick/slick.js' %}"></script>
<script src="{% static 'js/slick/slick-animation.min.js' %}"></script>
<script src="{% static 'js/slick/custom_slick.js' %}"></script>

<!-- Price Range Js -->
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>

<!-- sidebar open js -->
<script src="{% static 'js/filter-sidebar.js' %}"></script>

<!-- Auto Height Js -->
<script src="{% static 'js/auto-height.js' %}"></script>

<!-- Timer Js -->
<script src="{% static 'js/timer1.js' %}"></script>

<!-- Fly Cart Js -->
<script src="{% static 'js/fly-cart.js' %}"></script>

<!-- Quantity js -->
<script src="{% static 'js/quantity-2.js' %}"></script>

<!-- Zoom Js -->
<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'js/zoom-filter.js' %}"></script>


<!-- Sticky-bar js -->
<script src="{% static 'js/sticky-cart-bottom.js' %}"></script>

<!-- WOW js -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/custom-wow.js' %}"></script>

<!-- script js -->
<script src="{% static 'js/script.js' %}"></script>

<!-- theme setting js -->
<script src="{% static 'js/theme-setting.js' %}"></script>

